@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&display=swap);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

body {
  background-color: #010409;
  color: #74727a;
  font-family: "Noto Serif", "cwtexyen", sans-serif;
  margin: 2em;
}

h1 {
  color: #eb921f;
  text-align:left;
}

h2 {
  clear: both;
}

.input {
  background-color: #010409;
  color: #fff;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  padding: 5px;
  border: 1px solid #30363d;
  border-radius: 3px;
  margin: 0.5em 0;
}

.orange {
  background-color: #eb921f;
  color: white;
}
/* 以下未看 */
video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.videoView,
.detectOnClick,
.blend-shapes {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}

.blend-shapes-item {
  display: flex;
  align-items: center;
  height: 20px;
}

.blend-shapes-label {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
}

.blend-shapes-value {
  display: flex;
  height: 16px;
  align-items: center;
  background-color: #eb921f;
}

#verb {
  color: firebrick;
  font-size: 250%;
}

#normal {
  color: navy;
  font-size: 250%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* 模態框樣式 */
 .modal  {
  background-color:white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
   z-index: 1;
  position: fixed;
  display: block;
  background-image: url("src/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#ig {
  height: 500px;
  width: 500px;
}
nav {
  background-color: rgba(108, 166, 178, 0.634);
  padding: 10px 0;
  text-align: center;
}

/* 无序列表样式 */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 列表项样式 */
nav li {
  display: inline-block;
  margin-right: 20px;
}

/* 链接样式 */
nav a {
  text-decoration: none;
  color: #ffcc00;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease; /* 添加颜色渐变效果 */
}

/* 链接悬停时的样式 */
nav a:hover {
  color: white;
}

